.list-container {
  list-style-type: none;
  height: 200px;
  width: 250px;
  margin-bottom: 9px;
  margin-right: 20px;
}
.link-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ffffff33;
  background-size: cover;
  height: 40%;
  border: 1px solid #ffffff;
  border-radius: 15px;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}
.team-image {
  width: 20%;
}
.title {
  color: #ffffff;
  font-size: 18px;
  font-family: 'Bree Serif';
  text-decoration: none;
  padding-left: 10px;
}
