.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  background-size: cover;
  min-height: 100vh;
  padding-top: 30px;
}
.app-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.ipl-logo-image {
  height: 70px;
}
.heading {
  color: #ffffff;
  font-size: 60px;
  font-family: 'Bree Serif';
  font-weight: bold;
  padding-left: 10px;
}
.unordered-list-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 2;
}
